* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'dosis', sans-serif;
    letter-spacing: 0.2px;
    line-height: 1.2;
}

body {
    position: relative;
    background-image: url('./img/bigstock-chart-background-203062333.png');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}
nav, footer {
    position: relative; /* moves these elements in front of mainContainer border*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 800px;
    height: 100px;
    color: #ddf;
    font-size: 1.1rem;
    text-transform: uppercase;
    background-color: rgba(0,0,20,0.4);
}
nav {
    border-bottom: 1px solid black;
}
footer {
    border-top: 1px solid black;
}
nav ul, footer ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-width: 800px;
    max-width: 1200px;
    height: 80%;
    list-style-type: none;
}
nav li, footer li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 100px;
}
nav a, footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.mainContent {
    box-sizing: content-box;
    overflow-x: scroll;
    min-height: 100vh;
    margin: -100px auto;
    border: 2px solid black;
    border-bottom: 100px solid rgba(0,0,0,0.6);
    border-top: 100px solid rgba(0,0,0,0.4);
    background-clip: padding-box;
    background-color: #c8c8d0;
    width: 80%;
    min-width: 800px;
    max-width: 1200px;
}

#title {
    margin: 2.5em auto 1em;
    text-align: center;
}
h3, h4 {
    margin: auto;
    text-align: center;
}
svg {
    position: relative;
    display: block;
    margin: 3em auto;  
    border: 1px solid black;
    background-color: rgb(238, 238, 238);
}


.bar:hover, .dot:hover {
    cursor: pointer;
    fill: rgb(0, 238, 255);
}
.dot {
    stroke: #000;
    opacity: 0.75;
}
div#tooltip {
    z-index: 1000;
    position: absolute;
    padding: 0.5em 0.75em;
    border-radius: 3px;
    background-color: #000;
    color: #eef;
    line-height: 1.6;
}